.item {
    text-align: center;
    img {
    	margin: 0 auto;
    }
}

.item-active {
	text-align: center;
	img {
		margin: 0 auto;
	}
}

.body {
	background-image:url('brushed_alu.png');
	background-color:#cccccc;
}

.well
{
opacity:0.3;
filter:alpha(opacity=30); 
}
