.item {
    text-align: center;
    img {
    	margin: 0 auto;
    }
}

.item-active {
	text-align: center;
	img {
		margin: 0 auto;
	}
}

.body {
	background-image:url('brushed_alu.png');
	background-color:#cccccc;
}

#accordion
{
opacity:0.5;
filter:alpha(opacity=30);
}

.well
{
opacity:0.5;
filter:alpha(opacity=30); 
}

.ui-progressbar {
    position: relative;
  }

.progresslabel {
    position: absolute;
    left: 38%;
    top: 4px;
    font-weight: bold;
    color:#888088;
  }

.ui-progressbar-value {
    background: #1E003C;
}

a:link {color:#1E003C;text-decoration:none;}    /* unvisited link */
a:visited {color:#1E003C;text-decoration:none;} /* visited link */
a:hover {color:#1E003C;text-decoration:underline;}   /* mouse over link */
a:active {color:#1E003C;text-decoration:underline;}  /* selected link */

h2 {color:#1E003C;}
h1 small {color:#29293D;}
h3 {color:#1E003C;}
body {color:#1E003C;font-family:Verdana, Geneva, sans-serif; font-size:16px;}